
{% load debugFun %}
{% include 'partials/headerd.html' %}
<a href="javascript:history.back()"><<--Return to Malware Types</a>
<table>
<tr>
	<th><a href="../os/">Operating System</a></th>
	<th><a href="../type/">Type</a></th>
	<th><a href="../subtype/">Street Name</th>	
	<th><a href="../hash/">Hash</a></th>
	<th><a href="../severity/">Severity</a></th>
	<th>DLLS</th>
</tr>
{% for item in hash %}
<tr>
	<td>{{ item.os }}</td>
	<td><a target="_blank" rel="noopener noreferrer" href="https://duckduckgo.com/?q=site%3Awww.f-secure.com+site%3Awww.pandasecurity.com+site%3Ahttp%3A%2F%2Fmalware.wikia.com%2Fwiki%2F+{{ item.type }}">{{ item.type }}</a></td>
	<td><a target="_blank" rel="noopener noreferrer" href="https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?Name={{ item.type }}:{{ item.os }}/{{ item.subtype }}">{{ item.subtype }}</a></td>
	<td><tt><a target="_blank" rel="noopener noreferrer" href="https://www.virustotal.com/#/file/{{ item.hash }}">{{ item.hash }}</a></tt></td>
	<td>{{ item.severity }}</td>
	<td><a href="/type/dllList/{{ item.hash|urlencode }}">DLLS</a></td>
</tr>
{% endfor %}
</table>
<br>
{% dbinfo %}
<br><br>
{% dbquerylist %}
{% include 'partials/footer.html' %}
