
{% load debugFun %}
{% include 'partials/headerd.html' %}
<a href="javascript:history.back()"><<--Return to Malware Types</a>
<table>
<tr>
	<th>Operating System</th>
	<th>Type</th>
	<th>Street Name</th>	
	<th>Hash</th>
	<th>Severity</th>
	<th>DLLS</th>
</tr>
{% for item in hash %}
<tr>
	<td>{{ item.os }}</td>
	<td>{{ item.type }}</td>
	<td>{{ item.subtype }}</td>
	<td><tt>{{ item.hash }}</tt></td>
	<td>{{ item.severity }}</td>
	<td><a href="/type/dllList/{{ item.hash|urlencode }}">DLLS</a></td>
</tr>
{% endfor %}
</table>
<br>
{% dbinfo %}
<br><br>
{% dbquerylist %}
{% include 'partials/footer.html' %}
